name: 'nightly'
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  run:
    name: Run
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macOS-latest, windows-latest]
        jdk-version: [8, 11, 13]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: yarn install
      run: yarn install
    - name: Lint
      run: yarn run format-check
    - name: yarn test
      run: yarn test
    - name: Smoke Test
      uses: ./
      with:
        java-version: ${{ matrix.jdk-version }}
    - run: java -version
